In [1]:
import pandas_datareader.data as web

In [2]:
symbol = 'WIKI/AAPL'
df = web.DataReader(symbol, 'quandl', '2015-01-01', '2015-01-05')
df

ValueError: The Quandl API key must be provided either through the api_key variable or through the environmental variable QUANDL_API_KEY.

In [14]:
import pandas_datareader.data as web
dfs = web.DataReader('^SNX', 'stooq')
dfs[:10]

                Open      High       Low     Close      Volume
Date
2021-04-01  49509.15  50092.34  49479.39  50027.63         NaN
2021-03-31  50136.58  50136.58  49449.98  49509.15  11944803.0
2021-03-30  49331.68  50264.77  49331.68  50136.58  10509887.0
2021-03-26  48969.25  49232.82  48705.58  49008.50  10583117.0
2021-03-25  49200.01  49200.01  48238.76  48440.12  14303293.0
2021-03-24  49709.73  49852.93  49123.87  49180.31   9178827.0
2021-03-23  49876.21  50264.39  49662.93  50051.44  13373850.0
2021-03-22  49878.77  49878.77  49281.87  49771.29  11628282.0
2021-03-19  48867.19  50000.16  48590.54  49858.24  17509370.0
2021-03-18  50266.20  50279.31  48967.25  49216.52  12611249.0

In [25]:
df.index[df.Close > df.Open][:10]
df[df.Close > df.Open][:10]

                Open      High       Low     Close      Volume
Date
2021-04-01  49509.15  50092.34  49479.39  50027.63         NaN
2021-03-30  49331.68  50264.77  49331.68  50136.58  10509887.0
2021-03-26  48969.25  49232.82  48705.58  49008.50  10583117.0
2021-03-23  49876.21  50264.39  49662.93  50051.44  13373850.0
2021-03-19  48867.19  50000.16  48590.54  49858.24  17509370.0

In [27]:
dfh = dfs[dfs.Close > dfs.Open][:10]
dfl = dfs[dfs.Close < dfs.Open][:10]
from bokeh.plotting import figure, show, output_file
f = figure(x_axis_type='datetime', width=1000, height=300, title='Candlestick Chart')

hours_12 = 12 * 60 * 60 * 1000
f.rect(dfh.index, 
       (dfh.Open + dfh.Close)/2, 
       hours_12, 
       abs(dfh.Open - dfh.Close),
       fill_color="green", 
       line_color="black")
f.rect(dfl.index, 
       (dfl.Open + dfl.Close)/2, 
       hours_12, 
       abs(dfl.Open - dfl.Close),
       fill_color="red", 
       line_color="black")

output_file("CS.html")
show(f)

In [38]:

def inc_dec(c, o):
    if c > o:
        value = "inc"
    elif o > c:
        value = "dec"
    else:
        value = "same"
    return value
dfs["status"] = [inc_dec(c, o) for c, o in zip(dfs.Close, dfs.Open)]
dfs["mid"] = (dfs.Close + dfs.Open) / 2
dfs["height"] = abs(dfs.Close - dfs.Open)
dfs

,Open,High,Low,Close,Volume,status,mid,height
Date,,,,,,,,
2021-04-01,49509.15,50092.34,49479.39,50027.63,NaN,inc,49768.390,518.48
2021-03-31,50136.58,50136.58,49449.98,49509.15,11944803.0,dec,49822.865,627.43
2021-03-30,49331.68,50264.77,49331.68,50136.58,10509887.0,inc,49734.130,804.90
2021-03-26,48969.25,49232.82,48705.58,49008.50,10583117.0,inc,48988.875,39.25
2021-03-25,49200.01,49200.01,48238.76,48440.12,14303293.0,dec,48820.065,759.89
...,...,...,...,...,...,...,...,...
2016-04-11,24789.40,25047.97,24523.30,25022.16,26720026.0,inc,24905.780,232.76
2016-04-08,24665.80,24735.70,24608.86,24673.84,10001746.0,inc,24669.820,8.04
2016-04-07,24998.79,24998.79,24648.54,24685.42,19779036.0,dec,24842.105,313.37
2016-04-06,24978.86,24996.72,24834.48,24900.63,10586199.0,dec,24939.745,78.23
2016-04-05,25372.44,25372.44,24838.60,24883.59,15309993.0,dec,25128.015,488.85

In [41]:
df = dfs[:25]
from bokeh.plotting import figure, show, output_file
f = figure(x_axis_type='datetime', width=1000, height=300, title='Candlestick Chart')

hours_12 = 12 * 60 * 60 * 1000
f.rect(df.index[df.status=="inc"], 
       df.mid[df.status=="inc"], 
       hours_12, 
       df.height[df.status=="inc"],
       fill_color="green", 
       line_color="black")

f.rect(df.index[df.status=="dec"], 
       df.mid[df.status=="dec"], 
       hours_12, 
       df.height[df.status=="dec"],
       fill_color="red", 
       line_color="black")


output_file("CS1.html")
show(f)

In [56]:
df = dfs[:365]

from bokeh.plotting import figure, show, output_file
from bokeh.embed import components
from bokeh.resources import CDN
# from bokeh.models import HoverTool, ColumnDataSource
# cds = ColumnDataSource(dfs[:25])

f = figure(x_axis_type='datetime', width=1000, height=300, title='Candlestick Chart', sizing_mode="scale_width")
f.grid.grid_line_alpha = 0.3

hours_12 = 12 * 60 * 60 * 1000
# hover = HoverTool(tooltips=[("Start", "@Open"), ("End", "@Close")])
# f.add_tools(hover)

f.segment(df.index, df.High, df.index, df.Low, color="black")
f.rect(df.index[df.status=="inc"], 
       df.mid[df.status=="inc"], 
       hours_12, 
       df.height[df.status=="inc"],
       fill_color="green", 
       line_color="black")

f.rect(df.index[df.status=="dec"], 
       df.mid[df.status=="dec"], 
       hours_12, 
       df.height[df.status=="dec"],
       fill_color="red", 
       line_color="black")

# f.circle(df.index, df.mid, color="black")




output_file("CS2.html")
show(f)
df

,Open,High,Low,Close,Volume,status,mid,height
Date,,,,,,,,
2021-04-01,49509.15,50092.34,49479.39,50027.63,NaN,inc,49768.390,518.48
2021-03-31,50136.58,50136.58,49449.98,49509.15,11944803.0,dec,49822.865,627.43
2021-03-30,49331.68,50264.77,49331.68,50136.58,10509887.0,inc,49734.130,804.90
2021-03-26,48969.25,49232.82,48705.58,49008.50,10583117.0,inc,48988.875,39.25
2021-03-25,49200.01,49200.01,48238.76,48440.12,14303293.0,dec,48820.065,759.89
...,...,...,...,...,...,...,...,...
2019-10-18,39052.06,39361.06,38969.08,39298.38,42367233.0,inc,39175.220,246.32
2019-10-17,38598.99,39104.60,38557.64,39052.06,47096683.0,inc,38825.525,453.07
2019-10-16,38506.09,38663.61,38417.81,38598.99,27515324.0,inc,38552.540,92.90
2019-10-15,38214.47,38629.51,38214.47,38506.09,26225508.0,inc,38360.280,291.62
2019-10-14,38190.49,38510.39,38067.12,38214.47,28533779.0,inc,38202.480,23.98

In [58]:
df = dfs[:365]

from bokeh.plotting import figure, show, output_file
from bokeh.embed import components
from bokeh.resources import CDN
# from bokeh.models import HoverTool, ColumnDataSource
# cds = ColumnDataSource(dfs[:25])

f = figure(x_axis_type='datetime', width=1000, height=300, title='Candlestick Chart', sizing_mode="scale_width")
f.grid.grid_line_alpha = 0.3

hours_12 = 12 * 60 * 60 * 1000
# hover = HoverTool(tooltips=[("Start", "@Open"), ("End", "@Close")])
# f.add_tools(hover)

f.segment(df.index, df.High, df.index, df.Low, color="black")
f.rect(df.index[df.status=="inc"], 
       df.mid[df.status=="inc"], 
       hours_12, 
       df.height[df.status=="inc"],
       fill_color="green", 
       line_color="black")

f.rect(df.index[df.status=="dec"], 
       df.mid[df.status=="dec"], 
       hours_12, 
       df.height[df.status=="dec"],
       fill_color="red", 
       line_color="black")

# f.circle(df.index, df.mid, color="black")

script1, div1 = components(f)
cdn_js = CDN.js_files
cdn_css = CDN.css_files

In [60]:
print(cdn_js, cdn_css)

['https://cdn.bokeh.org/bokeh/release/bokeh-2.3.0.min.js', 'https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.3.0.min.js', 'https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.3.0.min.js'] []